#home {
  padding: 2rem 1rem;
  background-color: #e2edff;
}
#about {
  background-color: #e2edff;
}

#gallery {
  background-color: #f3f4f5;
}

#contact {
  background-color: #e2edff;
}
